.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper{
  background-color: gray;
  color: #fff;
  height: auto;
  width: 50%;
  margin-top: 10px;
  text-align: center;

}
.main-wrapper h1{
  font-size: 30px;
  font-weight: 600;
}